body  {
  background-image: url("https://wallpaperaccess.com/full/242352.png");
  background-color: #cccccc;
}

html{
    color: white;
    font-family: monospace;
}

.maintext{
  align-self: center;
}